NODE_ENV=DEVELOPMENT

# Captcha secret key
GRECAPTCHA_SECRET=

# Amazon
S3_DOMAIN=
S3_BUCKET_NAME=
S3_BUCKET_REGION=
AWS_PUBLIC_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

# Databases
DB_PORT=
DB_USER=
DB_SSL=

DB_HOST=
DB_PASS=

DB_HOST_ADDONS=
DB_PASS_ADDONS=

# Session cookies
COOKIE_SECRET1=
COOKIE_SECRET2=
COOKIE_SECRET3=
COOKIE_SECRET4=
