<style type="text/css" scoped>
	.blog-container {
		max-width: 60rem
	}

	.blog-main {
		padding-top: 5%
	}

	.blog-post {
		margin-bottom: 7rem
	}

	.blog-post-title {
		margin-bottom: .25rem;
		font-size: 2.5rem
	}

	.blog-post-meta {
		margin-bottom: 1.25rem;
		color: #999
	}

	@media (min-width: 40em) {
		.blog-title {
			font-size: 3.5rem
		}
	}
</style>

<main class="container blog-container">
	<div class="row">
		<div class="col-sm-8 blog-main">
			<article class="blog-post">
				<h2 class="blog-post-title">How to install addons</h2>
				<p class="blog-post-meta">Updated 10.07.2016</p>
				<h3>Prerequisites</h3>
				<p>If you have the World of Warcraft client running, exit it completely.</p>
				<hr><br>

				<div class="alert alert-warning" role="alert">
					Be aware that some vanilla addons may only work with the English game client.
				</div>

				<h3>Extract/unzip</h3>
				<p>
					All downloaded files are zipped (compressed) to save bandwidth. Therefore you will need to unzip the addon before installing it. You can unzip a file by right clicking on it and selecting "Extract here", or by double clicking the file and then drag & drop the folders you see in the new window over to e.g your desktop.
				</p>
				<p>
					This process may work differently depending on what kind of zip application you are using. Read the manual for your app if you cannot get it to work.
				</p>
				<br>

				<h3>Install</h3>
				<p>
					Find out where your game client is located on your computer. (Where you run World of Warcraft from).
						<ul>
							<li>Open your World of Warcraft folder.</li>
							<li>Go to "Interface" folder.</li>
							<li>Go to "AddOns" folder.</li>
							<li>Drag/copy all of the files you <b>extracted</b> earlier into this location. (Not the .zip file!)</li>
						</ul>
					If you cannot find the Interface folder and you have started the game atleast once, it means you are in the wrong location. You are most likely browsing the folder for the <b>shortcut</b> to World of Warcraft.
				</p>
				<br>

				<h3>Enable out of date addons</h3>
				<p>
					Login to your World of Warcraft client. At the character selection screen there should be a button in the lower left corner saying "Addons", click it.<br>
					In the new window, check the checkbox found in the top right corner saying "Enable out of date addons". Click "Okay" button to save.
				</p>
				<p>
					If you cannot find the addon button, it means you did not install the addon(s) properly.
					If you do find it, you are done installing the addon(s).
				</p>
				<br>

				<h3>Important</h3>
				<p>
					If you are installing only textures and <b>not</b> an addon, you need to drag the extracted files into the "Interface" folder, instead of the "AddOns" folder.
				</p>
				<p>
					If you get access denied errors when copying the addons, easiest solution is to install World of Warcraft outside "Program Files" folder on your computer.
				</p>
				<p>If you do not have permission issues but still cannot get the addons to work I recommend trying the above anyways.<br>Because sometimes modifications in "Program Files" folder does not actually get saved in that location, but instead gets redirected to a different folder called Virtual User Store, where World of Warcraft will not look for your addons.
				<br><br>
				</p>
			</article>
		</div>
	</div>
</main>
